<div>

        @*<div class="col-md-10" ng-repeat="stk in stocks | filter:query | orderBy:orderProp">

            <span class="col-md-1"> {{stk.Sym}} </span>

            <span class="col-md-1"> {{stk.Type}} </span>

            <span class="col-md-1"> {{stk.Qty}} </span>
            <span class="col-md-1"> {{stk.mktPrice}} </span>
            <span class="col-md-1"> {{stk.Price}} </span>
            <span class="col-md-1"> {{stk.Cmsn}} </span>
            <span class="col-md-1"> {{stk.Date}} </span>

        </div>*@
        <div class="gridStyle" ng-grid="gridOptions"></div>

</div>