<div>
    <div class="gridStyle hgt" ng-grid="gridOptions"></div>
    <div class="gridStyle hgtOld" ng-grid="oldGridOptions"></div>
    <div>
        <span>Stock Purc: {{ StockPur | currency}} </span> <span style="margin-left:10px">Stock Sold: {{ StockSold | currency}}</span>
    </div>
    <div>
        <span>Deposited: {{ Deposited | currency}} </span> <span style="margin-left:10px; color:green; font-weight:bold">Profit: {{ Profit | currency}}</span>
    </div>
    <div>
        <span>Stock InHand: {{ StockHand | currency}} </span> <span style="margin-left:10px">Cash InHand: {{ InHand | currency}}</span>
    </div>
</div>