<div>

    <div class="gridStyle" ng-grid="gridOptions"></div>
    <div>Stock Purc: {{ StockPur}}</div>
    <div>Stock Sold: {{ StockSold}}</div>
    <div>Deposited: {{ Deposited}}</div>
    <div>Withdrawn: {{ Withdrawn}}</div>
<div>In Hand: {{ InHand}}</div>

</div>